{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_cltools/element-sortable_list.mustache


    Example context (json):
    {
        "label": "Course full name",
        "required": true,
        "advanced": false,
        "error": null,
        "element": {
            "wrapperid": "fitem_id_fullname",
            "id": "id_fullname",
            "name": "fullname",
            "name": "sortablelist",
            "options": [{ "text": "Text value", "value": "134" }]
        }
    }
}}
{{< core_form/element-template }}
    {{$element}}
        <ul id="{{element.id}}-ui" class="list-group">
            {{#element.options}}
                <li class="list-group-item" data-name="{{text}}" data-value="{{value}}">
                    {{^element.frozen}}
                        {{> core/drag_handle}}
                    {{/element.frozen}}{{{text}}}
                </li>
            {{/element.options}}
        </ul>
        <input type="hidden" name="{{element.name}}" id="{{element.id}}" value="{{element.listitems}}">
    {{/element}}
{{/ core_form/element-template }}
{{^element.frozen}}
{{#js}}
    require(['local_cltools/sortable_list'], function(SortableList) {
        SortableList.init('#{{element.id}}');
    });
{{/js}}
{{/element.frozen}}
